@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-hyper-blue: #007bff;
  --color-hyper-green: #00ff88;
  --color-hyper-purple: #bd00ff;
  --color-hyper-orange: #ff6b00;
  
  --font-size-hero: 10rem;
}

:root {
  --background-color: #050505;
  --color: #ffffff;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: #007bff; 
  color: white;
}

.hyper-blur {
  filter: blur(120px);
  opacity: 0.15;
}
